/* Empty. Add your own CSS if you like */
.secondary {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}